/*Used CSS*/
.scrollable-pane-content {
    position: absolute;
    top: 0px;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    touch-action: pan-y;
}

.card-title {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.chart-button.active {
    text-decoration: none !important;
    background-color: transparent !important;
    border-bottom-width: 2px !important;
    border-bottom-color: white !important;
    border-bottom-style: solid !important;
    border-radius: 0px !important;
    color: white !important;
}

.watchlist-button.active {
    color: white !important;
}

.card-divider {
    margin: 15px -15px 15px -15px !important;
}

/*.stock-description-container {
    overflow: hidden;
    position: relative;
    height: 112px;
}
.stock-description-container:after {
    content: "...";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1%;
}*/