body {
  touch-action: manipulation;
  height: 100%;
  /*overflow-y:scroll;
  overflow-x:hidden;
  display:-ms-flexbox;
  -ms-flex-direction:column;*/
}

/*.app-background {
    background-color: #6DAD62;
    height: 25%;
    width: 100%;
    position: relative;
    top: 25%;
    z-index: 0;
    margin-top: -20%;
}*/

@media all and (min-width:1200px){
    .container {
        width: 1153px;
    }
}


@media all and (min-width:992px) {
    .container {
        width: 944px;
    }
}

@media all and (min-width:768px) {
    .container {
        width: 721px;
    }
}

.content,
#app {
    height: 100%;
}

/* SplitView pane content style*/
#app .header {
    white-space: nowrap;
}

#app .title {
    position: absolute;
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

#app .nav-commands {
    /*margin-top: 20px;*/
    margin-top: 55px;
}

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane {
    background-color: #6DAD62;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/

/*.not-small {
    display: none;
}*/

#app .win-splitview-content {
    /*background-color: rgb(112,112,112);*/
    background-color: #333;
}

#app .contenttext {
    touch-action: pan-y;
    /*padding-right: 20px;*/
    /*margin-left: 10px;*/
    margin-top: 48px;
    margin-bottom: 6px;
    height: 100%;
    width: 100%;
    display: block;
    overflow: auto;
    /*background: linear-gradient(#6DAD62 0%, #6DAD62 25%, #333 25%, #333 25%, #333 100%);*/
}

#app .contenttext h1 {
    font-family: Broadway;
    font-size: 40px;
}

/*SplitView pane show button style*/
/*button.win-splitview-button {
    float: left;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: 1px dotted transparent;
    margin: 0;
    outline: none;
    background-color: transparent;
}

html.win-hoverable button.win-splitview-button:hover {
    background-color: rgba(255,255,255, 0.1);
}

button.win-splitview-button.win-splitview-button:active,
button.win-splitview-button.win-splitview-button:hover:active {
    background-color: rgba(255,255,255, 0.2);
}

button.win-splitview-button.win-keyboard:focus {
    border-color: rgb(255, 255, 255);
}

button.win-splitview-button:after {
    font-size: 24px;
    font-family: 'Segoe MDL2 Assets', 'Symbols';
    content: "\E700";
}*/

.nav-row {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #6DAD62;
    /*background-color: #E34234;*/
}

.main-tab {
    /*padding-top: 48px;*/
    padding-bottom: 20px;
    padding-right: 10px;
    /*background: linear-gradient(#6DAD62 0%, #6DAD62 50%, #171717 50%, #171717 50%, #171717 100%);*/
    /*background: linear-gradient(#6DAD62 0%, #6DAD62 50%, rgb(112, 112, 112) 50%, rgb(112, 112, 112) 50%, rgb(112, 112, 112) 100%);*/
    /*background: linear-gradient(#6DAD62 0%, #6DAD62 50%, #333 50%, #333 50%, #333 100%);*/
}

/*Override Bootstrap*/
.thumbnail {
    background-color: rgb(112,112,112);
    border: none;
}

.nav-justified > li {
    float: none;
    display: table-cell;
    width: 1%;
}

.nav-justified > li > a {
    margin-bottom: 0px;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-radius: 0px;
    color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-radius: 0px;
    color: white;
}

.nav > li > a {
    color: #6dad62;
    font-weight: bold;
    text-decoration: none;
}

/*.news-card {
    touch-action: cross-slide-x;
}*/

/*D3 classes*/
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.tick text {
  fill: #FFF;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: #6dad62;
  stroke-width: 2.5px;
}

.svg-container {
    width: 100%;
    height: 100%;
    /*display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;*/
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* Global Classes */
.display-table {
    display: table;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.display-inline-block {
    display: inline-block;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon-button-icon {
    padding: 14px
}

.chart-button.active {
    text-decoration: none !important;
    background-color: transparent !important;
    border-bottom-width: 2px !important;
    border-bottom-color: white !important;
    border-bottom-style: solid !important;
    border-radius: 0px !important;
    color: white !important;
}

.scrollable-pane {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    touch-action: pan-y;
}

.card-title {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}